<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dairymanagement">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dairy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dairymanagement">
        <activity
            android:name=".tempbutton"
            android:exported="false" />
        <activity
            android:name=".buy"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".updateDepot"
            android:exported="false" />
        <activity
            android:name=".updateTransaction"
            android:exported="false" />
        <activity
            android:name=".getTransactions"
            android:exported="false" />
        <activity
            android:name=".updateConsumer"
            android:exported="false" />
        <activity
            android:name=".getconsumers"
            android:exported="false" />
        <activity
            android:name=".updateProducer"
            android:exported="false" />
        <activity
            android:name=".getproducers"
            android:exported="false" />
        <activity
            android:name=".consumer"
            android:exported="false" />
        <activity
            android:name=".producer"
            android:exported="false" />
        <activity
            android:name=".sell"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.dairymanagement.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


    </application>

</manifest>