<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dairymanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hello"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dairymanagement">
        <activity
            android:name=".getconsumers"
            android:exported="false" />
        <activity
            android:name=".updateProducer"
            android:exported="false" />
        <activity
            android:name=".getproducers"
            android:exported="false" />
        <activity
            android:name=".consumer"
            android:exported="false" />
        <activity
            android:name=".producer"
            android:exported="false" />
        <activity
            android:name=".sell"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>